* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    margin: 0 auto;
    max-width: 1200px;
}

.box {
    background-color: red;
    width: 400px;
    height: 400px;
    color: white;
    box-shadow: 3px 3px 3px white;
    box-sizing: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: axxx 2s infinite;
    position: absolute;
    border-radius: 50px;
}

.parent {
    height: 100vh;

    position: relative;
}

@keyframes axxx {
    0% {
        left: 0;
    }

    25% {
        background-color: blue;
        left: 700px;
        top: 0;

    }

    50% {
        background-color: darkgray;

        top: 300px;
        left: 700px;
    }

    75% {
        background-color: coral;

        top: 300px;
        left: 0px;

    }

    100% {
        background-color: aqua;
        top: 0px;



    }
}